*{
	font-style: Arial;
}
body{
	background-color: #F2F2F2;
}
p{
	margin:0;
}

.container{
	background-color: white;
	padding:0px;
}
#content>.container>.view{
	margin:0 auto;
	height: auto;
}
.nav {
	width:auto;
	height:60px;
	background-color: white;
	padding:0 ;

}
.nav>ul>li>a{
	text-decoration:none;
}
.nav>ul>li>a:hover{
	color: #F9B946;
	transition:color .35s;
}
.nav> a> img{
	width: 180px;
	padding-left:15px;

}
.nav > ul,.nav>ul>ul{
	float:right;
	line-height: 60px;
	margin:0;
}
.nav > ul,li{
	display:inline;
}
.nav > ul > li{
	font-size: 15pt;
	padding:0 30px 0 30px;
}
.nav > ul > li > a {
	color:#5D5D5D;
}
.nav>ul>ul>li{
	padding:0 15px 0 15px;
}
.nav>ul>ul>li>a>img{
	height:35px;
}
.nav>ul>ul>li>a>img:hover{
	-webkit-filter:grayscale(100%);
}
.dropdown{
	display:inline;
	float:right;
	line-height: 75px;

}
.dropdown-menu{
	width:100vw;
	height:auto;
	min-height:120vw;
	margin:0;
	border:0;
	border-radius: 0;
}
#dropdownMenu1{
	border:0;
	box-shadow: none;
}
.dropdown>ul>li>a{
	width:100%;
	text-align: center;
	font-size: 14pt;

}
.col-md-8,.col-xs-12{
	padding:0;
}

.article-view{
	width:100%;
	background-color: white;
}
.article-view > .jumbotron{
	width:100%;
	position: relative;
	padding-top: 48.75%;
	background-size: cover;
	background-repeat:no-repeat;
	border-radius: 0px;
	margin-bottom:0px;
}
.article.header{
	position: absolute; 
	left:0;
	bottom: 0;
	width:100%;
	height: auto;
	background-color: black;
	background-color:rgba(0,0,0,0.35)
}
.article.header>h1{
	margin:0;
	font-size:22pt;
	text-align: center;
	color:white;
	line-height: 40px;
}

.article-view-content{
	padding:0 15px 30px 15px;
}
.author{
	font-size:20pt;
	padding-top:15px;
}
.heart{
	display:none !important;
	float:right;
	display:inline;
}
.heart >img,.heart >p,.heart >span {
	padding:0 15px 0 15px;
	height:25px;
}
.author p{
	color:#5D5D5D;
	font-size:20pt;
	display:inline;
}
.article.content{
	color:#5D5D5D;
	font-size:16pt;
	height:auto;
}

.sidebar{
	background-color: white;
	padding:0 15px 0 15px;
}


.hot{
	background-color: #69C1D3;
	height:60px;
}
.hot > p{
	color:white;
	text-align: center;
	font-size: 16pt;
	line-height:60px;
}
.article-list{
	padding:5px 0 5px 0;
}
.hot-list-div{
	padding:5px 0 5px 0;
	cursor:pointer;
}
.hot-list{
	color:#5D5D5D;
	display:block;
	height:60px;
	background-color: #F2F2F2;
	line-height:60px;
	text-align: center;
}
.hot-list:hover{
	background-color:#F9B946;
	transition:background-color .5s;
}
.hot-list>h2{
	font-size: 13pt;
	margin:0;
	line-height: 60px;
}
.col-md-12.footer{
	padding:0;
}
.footer{
	height:40px;
	background-color: #F9B946;
	text-align: center;
	color:white;
	line-height: 40px;
}

@media screen and (max-width: 980px) {
	.fb-page-plugin{
		display:none;
	}
	.nav > ul{
		display:none;
	}
	.sidebar{
		background-color: white;
		padding:0;
	}
	.footer{
		font-size:10px;
	}
	.container{
		margin:0 auto;
	}
}
@media screen and (min-width: 981px) {
	.dropdown{
		display:none;
	}
}
@media screen and (max-width :600px){
	.article.header>h1{
		font-size:18pt;
		line-height: 40px;

	}
	.article.content img{
		width:100%!important;
		height:auto!important;
	}
}